html {
    background-color: rgb(39, 0, 45);
}

#mainSection {
    min-width: 30vw;

    padding: 1vh;
    border: 2px solid rgb(2, 15, 255);
    box-shadow: 5px 5px 10px rgb(2, 15, 255);
    background-color: rgb(185, 241, 177);
    position: absolute;
}

h1,
#h2Mode {
    text-align: center;
    margin-bottom: -1px;
}

#aproxSign {
    display: inline;
    font-size: 55px;
}

#selectTopic {
    max-width: 200px;
}

#switchButtonSection {
    text-align: center;
    margin-bottom: 10px;
}


#fromAndTo * {
    display: inline;
}

#topicSelection,
#fromAndTo,
#conversionButton {
    text-align: center;
}


#convertButton,
#switchButton,
#numInput {
    margin-top: 10px;
}

#numInput {
    max-width: 6.5vw;
    min-width: 140px;
    margin-left: 10%;
}

#fromUnit,
#fromUnit *,
#results,
#results * {
    display: inline;
}

#input {
    max-width: 150px;
}